:root {
  --background: #264653;
  --secondary: #487280;
  --tertiary: #f9806b;
  --primary: #d3d1d1;
  --nav-bar-height: 75px;
  --nothing-you-could-do: "Nothing You Could Do", cursive;
  --inter: "Inter", sans-serif;
}

body {
  overflow-y: scroll;
  padding-top: var(--nav-bar-height);
  margin: 0px;
  position: relative;
  font-family: var(--inter);
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--background);
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);
  width: 100vw;
  margin: 0px;
  padding: 0px 0px 0px 20px;
  display: flex;
  align-items: center;
  height: var(--nav-bar-height);
  transition: transform 0.3s ease;
  z-index: 6;
}

.project-info {
  height: auto;
  padding: 50px 300px 50px 100px;
  display: flex;
  flex-direction: row;
  gap: 100px;
}

#back-arrow {
  font-size: 2em;
  text-decoration: none;
  color: white;
}

.overview-info {
  text-indent: 28px;
  font-size: 18px;
}

.key-point-aside {
  padding-top: 128px;
  width: 40vw;
  float: left;
}

.project-title {
  font-weight: 500;
  padding-bottom: 10px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 26px;
}
.project-subheader {
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-color: var(--tertiary);
  font-size: 24px;
  padding: 0px 0px 20px;
  color: rgba(0, 0, 0, 0.7);
  text-wrap: nowrap;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: purple;
  text-decoration: underline;
}

.languages {
  list-style: circle;
  padding-bottom: 10px;
}

.languages-list {
  padding-left: 16px;
  margin: 0px;
}

/* Mobile Styling */
@media (max-width: 768px) {
  .project-info {
    flex-direction: column;
    padding: 20px; /* Adjust the padding for mobile */
    gap: 0px;
  }

  .key-point-aside {
    padding-top: 30px; /* Adjust the padding for mobile */
    width: 100%; /* Occupy full width */
    float: none; /* Remove float */
  }

  .overview {
    padding-top: 30px; /* Adjust the padding for mobile */
  }

  .navbar {
    padding-left: 10px; /* Adjust the padding for mobile */
  }

  .project-subheader {
    font-size: 22px; /* Reduce font size for mobile */
    padding-bottom: 10px;
  }

  .project-title {
    font-size: 22px; /* Reduce font size for mobile */
  }

  .overview-info {
    text-indent: 0; /* Remove text-indent for mobile */
    font-size: 16px; /* Reduce font size for mobile */
  }

  /* Add some spacing for the GitHub link */
  .key-points {
    margin-top: 10px;
  }
}
