:root{
    --background: #264653;
    --primary: #2A9D8F;
    --secondary: #E9C46A;
    --tertiary: #F4A261;
    --accent: #E76F51;
    --dark-background:#192d35;
}

html{
    background-color: var(--background);
    color:white;
    font-family: 'Raleway', sans-serif;
}

body{
    overflow-y: scroll;
    padding-top: 50px;
    margin: 0px;

}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--dark-background);
    width: 100vw;
    /* padding: 4px; */
    margin: 0px;
    display:flex;
    justify-content: space-between;
    height: 50px;
    /* border-bottom: 2px solid var(--dark-background); */
    transition: transform 0.3s ease;
}

.navbar[data-hidden="true"]{
    transform: translateY(-50px);
}

.links{
    padding: 0px 40px 0px 0px;
    gap: 40px;
    display: flex;
    align-items: center;
    list-style-type: none;
}

.socials{
    gap:40px;
    display: flex;
    align-items: center;
    list-style-type: none;
}