/* General */
:root {
  --background: #264653;
  --secondary: #487280;
  --tertiary: #f9806b;
  --primary: #d3d1d1;
  --project-transition-color: #426976;
  --nav-bar-height: 75px;
  --nothing-you-could-do: "Nothing You Could Do", cursive;
  --inter: "Inter", sans-serif;
}

html {
  background-color: var(--background);
  color: white;
  font-family: var(--inter);
}

body {
  overflow-y: scroll;
  padding-top: var(--nav-bar-height);
  margin: 0px;
  position: relative;
}

.page {
  height: auto;
  margin: 0;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--background);
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);
  width: 100vw;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  height: var(--nav-bar-height);
  transition: transform 0.3s ease;
  z-index: 6;
}

.navbar[data-hidden="true"] {
  transform: translateY(calc(-1 * var(--nav-bar-height)));
}

.links {
  padding: 0px 40px 0px 0px;
  gap: 30px;
  display: flex;
  align-items: center;
  list-style-type: none;
}

a.tab-tags {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
  text-decoration-color: var(--tertiary);
}

a.tab-tags:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-color: var(--tertiary);
}

.signature {
  font-family: var(--nothing-you-could-do);
  font-size: 2.5em;
  display: flex;
  align-items: center;
  padding-left: 40px;
  color: var(--tertiary);
}

/* CSS for the hamburger icon */
.hamburger-icon {
  display: none; /* Hide the icon on desktop view */
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: var(--tertiary);
  margin: 5px 0;
  transition: 0.4s;
}

/* Media query to show/hide elements on mobile view */
@media (max-width: 768px) {
  .navbar {
    display: flex;
    justify-content: flex-end;
  }

  .signature {
    display: none; /* Hide the signature on mobile view */
  }

  .hamburger-icon {
    display: block;
    padding: 20px;
  }

  .links {
    display: none; /* Hide the links by default on mobile view */
    flex-direction: column;
    background-color: var(
      --background
    ); /* Adjust background color to match NavBar */
    position: absolute;
    top: var(--nav-bar-height); /* Position the links below the NavBar */
    width: 100vw;
    box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.2);
  }

  .links.active {
    display: flex; /* Show the links when active class is added */
    justify-content: space-evenly;
    padding: 20px 0px;
    margin: 0px;
  }

  /* Adjust the appearance of the links in mobile view */
  .tab-tags {
    text-align: center;
    color: white;
    background-color: var(--background);
    text-decoration: none;
  }

  /* Adjust the appearance of the links when hovered in mobile view */
  .tab-tags:hover {
    background-color: var(--accent);
  }
}

/* Home Page */
#home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name {
  font-family: var(--nothing-you-could-do);
  font-size: 10em;
  text-align: left;
  margin: 0px;
}

.info {
  font-size: 1.5em;
  margin: 0px;
}

.vertical-line {
  width: 2px;
  height: 20px;
  background-color: white;
}

.subheader {
  display: flex;
  gap: 16px;
  align-items: center;
}

.socials {
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  display: flex;
  gap: 20px;
}

.social-link img {
  width: 40px;
  height: auto;
}

.social-link img:hover {
  cursor: pointer;
}

#resume-download {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 160px;
  height: 40px;
  border-radius: 32px;
  border: none;
  background-color: white;
  color: #264653;
  font-size: 16px;
  transition: all 0.3s ease;
  font-weight: 500;
  font-family: var(--inter);
  text-decoration: none;
}

#resume-download:hover {
  cursor: pointer;
}

/* Mobile Styles */

@media (max-width: 768px) {
  #home {
    height: 100vh; /* Take up the whole mobile screen */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px; /* Add some padding for better spacing */
  }

  .name {
    font-size: 4em; /* Decrease font size for mobile */
    text-align: center; /* Center the name on mobile */
    margin-bottom: 10px; /* Add spacing between name and subheader */
  }

  .info {
    font-size: 1em; /* Decrease font size for mobile */
    text-align: center; /* Center the info text on mobile */
  }

  .subheader {
    flex-direction: column; /* Stack the subheader items vertically */
    gap: 10px; /* Reduce the gap between subheader items */
    margin-bottom: 20px; /* Add some spacing between subheader and socials */
  }

  .vertical-line {
    display: none; /* Hide the vertical line on mobile */
  }

  .socials {
    flex-direction: column; /* Display social links in a row */
    gap: 20px; /* Adjust the gap between social links */
    justify-content: center; /* Center the social links horizontally */
  }

  .social-link img {
    width: 50px;
  }

  #resume-download {
    height: 50px;
    width: 150px;
  }
}

/* About Page */
#about {
  background-color: var(--primary);
  display: flex;
  align-items: center;
  padding: 50px;
  gap: 100px;
}

.info-background {
  color: black;
  border-radius: 64px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
  padding: 0px;
  margin: 0px;
}

#about .header {
  padding: 0px;
  font-weight: 500;
}

.about-info {
  line-height: 2;
  padding: 10px 300px 0px 0px;
  font-size: 1em;
  margin: 0px;
}

#profile-pic {
  width: 175px;
  height: auto;
  border-radius: 8px;
}

@media (max-width: 768px) {
  #about {
    display: block;
    padding: 0px;
  }
  #about .header {
    padding: 40px 20px 0px;
    margin: 0px;
  }
  .info-background {
    border-radius: 0; /* Remove border radius on mobile */
    display: block;
  }

  .about-info {
    padding: 20px; /* Adjust padding for mobile view */
  }

  /* Additional adjustments for smaller screens */
  #profile-pic {
    width: 150px;
    float: right;
    margin: 40px 20px 20px;
    padding: 0px;
  }
}

/* Skills Page */
#skills {
  background-color: whitesmoke;
  color: black;
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 40px 100px 0px;
}

.underline-header {
  font-weight: 500;
  padding: 20px 0px 8px;
  margin: 0px;
  color: rgba(0, 0, 0, 0.7);
  text-decoration: underline;
  text-underline-offset: 12px;
  text-decoration-color: var(--tertiary);
}

.techs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-row-gap: 40px;
  justify-items: center;
  padding: 40px 0px 60px;
  border-bottom: solid 2px rgba(0, 0, 0, 0.2);
}

.tech-images {
  width: 90px;
  height: auto;
}

.flip-card {
  background-color: transparent;
  width: 200px;
  height: 200px;
  perspective: 1000px;
  position: relative;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 125px;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  background-color: white;
}

.flip-card-back {
  background-color: var(--primary);
  color: black;
  transform: rotateY(180deg);
}

.flip-card-header {
  font-size: 1em;
  padding: 0px;
  font-weight: 500;
  margin: 0px;
}

.flip-card-info {
  font-size: 0.75em;
  padding: 5px 15px;
  text-align: center;
  margin: 0px;
}

@media (max-width: 768px) {
  #skills {
    padding: 40px 60px;
  }
  .underline-header {
    font-size: 1.25em;
    text-align: center;
    text-underline-offset: 4px;
  }
  .techs {
    grid-template-columns: repeat(
      auto-fill,
      minmax(120px, 1fr)
    ); /* Adjust column width for smaller screens */
    grid-gap: 15px; /* Change to grid-gap for smaller screens */
  }

  .tech-images {
    width: 70px;
    height: auto;
  }

  .flip-card {
    width: 120px; /* Decrease card size for smaller screens */
    height: 120px; /* Decrease card size for smaller screens */
  }

  .flip-card-header {
    font-size: 0.9em; /* Decrease font size for smaller screens */
  }

  .flip-card-info {
    font-size: 0.7em; /* Decrease font size for smaller screens */
  }
}

#html {
  background-color: #ed937d;
}

#javascript {
  background-color: #f1e596;
}

#java {
  background-color: #95b0c3;
}

#python {
  background-color: #f8e9b5;
}

.language-title {
  position: absolute;
  font-size: 14px;
  font-weight: 400;
  color: black;
  bottom: 0;
}

#css {
  background-color: #7b90eb;
}

#git {
  background-color: #939393;
  color: white;
}

#typescript {
  background-color: #83a9d9;
}

#react {
  /* background-color: #c0ecf9; */
  background-color: #23272F;
  color: white;
}

#kotlin {
  background-color: #d88ff0;
}

#django {
  background-color: #0f3e2e;
  color: white;
}

#tailwind {
  background-color: #10172A;
  color: white;
}

/* Education */
#education {
  background-color: whitesmoke;
  height: fit-content;
  margin: 0px;
  padding: 40px 100px;
  color: rgba(0, 0, 0, 0.7);
}

#education-header {
  padding-top: 0px;
  text-wrap: nowrap;
}

.university {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 200px;
}

#gpa {
  margin: 0px;
  padding: 0px 0px 75px;
}

#usu {
  margin: 0px;
  font-style: italic;
  font-weight: 500;
}

.relevant-cw {
  display: flex;
  flex-direction: row;
  gap: 84px;
  position: relative;
  padding-bottom: 80px;
  border-bottom: solid 2px rgba(0, 0, 0, 0.2);
}

.relevant-cw p {
  margin-top: 0px;
}

#degree {
  text-align: center;
  font-size: 1.25em;
  font-weight: 500;
  padding-bottom: 8px;
}

.courses {
  padding: 20px 250px 0px 0px;
}

.course {
  font-weight: 500;
  font-size: 16pt;
}

.course-description {
  font-style: italic;
  padding-bottom: 40px;
}

.honors {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 230px;
  padding-bottom: 65px;
}

#award {
  font-size: 20px;
  font-weight: 500;
  margin: 8px 0 0;
}

#award-year {
  margin-top: 2px;
  font-style: italic;
}

.award-info {
  padding-bottom: 10px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .university {
    display: block;
  }

  #education-header {
    font-size: 1.25em;
    padding-bottom: 30px;
    text-underline-offset: 4px;
    text-align: center;
  }

  #usu {
    text-align: center;
  }

  #gpa {
    text-align: center;
  }

  .relevant-cw {
    display: block;
    text-align: center;
  }

  .courses {
    padding: 10px 0; /* Adjust padding for smaller screens */
  }

  .course {
    font-size: 12pt; /* Decrease font size for smaller screens */
    font-weight: 600;
    padding-bottom: 15px;
  }

  .course-description {
    padding-bottom: 10px; /* Reduce padding for smaller screens */
  }

  .language-title {
    font-size: 12px;
  }
  .honors {
    display: block;
    text-align: center;
    gap: 230px;
    padding-bottom: 65px;
  }
}

#award {
  font-size: 18px;
  font-weight: 500;
  margin: 8px 0 0;
}

/* Projects Page */
#projects {
  background-color: whitesmoke;
  height: auto;
  padding: 40px 100px;
}

.projects {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding-bottom: 40px;
}

.project {
  color: white;
  background-color: var(--secondary);
  width: 300px;
  height: 200px;
  border-radius: 16px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  font-size: 22px;
  border:none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.project:hover {
  box-shadow: none;
  background-color: var(--project-transition-color);
  cursor: pointer;
}

#projects .header {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: 12px;
  padding: 0px 0px 40px;
  text-decoration-color: var(--tertiary);
}

.more {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
}
.read-more {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 40px;
  width: auto;
  padding: 0px 10px;
  border: 2px solid white;
  border-radius: 22px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  width: 130px;
}
/* Mobile styles (max-width: 768px) */
@media screen and (max-width: 768px) {
  /* Retain desktop styles for larger screens */
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* Add mobile-specific adjustments here */
  .project {
    width: 280px; /* Projects take full width on mobile */
    height: 140px; /* Remove fixed height on mobile */
    font-size: 17px; /* Adjust font size for mobile */
    padding: 20px; /* Adjust padding for mobile */
  }

  .more {
    gap: 10px;
  }

  .read-more,
  .walkthrough {
    height: 25px; /* Decrease height for mobile */
    width: auto;
    border-radius: 15px; /* Decrease border radius for mobile */
  }

  #projects .header {
    text-align: center;
    text-underline-offset: 4px;
  }
}

/* Contact Page*/
#contact {
  padding: 50px;
  background: var(--background);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 80px;
}

.email {
  font-size: 18pt;
  margin: 0px 0px 8px;
  text-decoration: none;
  color: white;
}

#reach {
  font-size: 16pt;
}

#contact .links {
  padding: 0px;
}

#contact .socials {
  padding: 0px;
}
